.docs-header {
  background-color: #0095db;
  color: #fff;
  padding: 4px 10px;
  font-family: 'proxima-nova', 'open sans', helvetica, arial, sans-serif;
  position: relative; }

  .docs-header a {
    color: #fff; }


.docs-header-development {
  background-color: yellow;
  color: #000; }

  .docs-header-development a {
    color: #000; }


.h3-fb-docs-type {
  font-weight: bold;
  border-bottom: 1px dotted #a2a8a8;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  margin-top: 30px;
  color: #a2a8a8; }


.docs-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 1em;
  color: #042452;
  text-decoration: none;
  padding: 0;
  margin: 3px 0 16px 0; }


.docs-fb-row {
  margin-bottom: 12px; }


.docs-main-menu {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 2px;
  top: 2px;
  border: 1px solid #fff;
  cursor: pointer; }


.docs-intro {
  padding-left: 15px;
  margin: 0 0 20px 0;
  border-left: 7px solid #0095db;
  color: #a2a8a8;
  font-family: 'Chronicle SSm A', 'Chronicle SSm B', Georgia, serif;
  font-size: 18px;
  line-height: 1.5;
  font-style: italic; }


#docs-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  text-align: right;
  height: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }


.docs-menu-item {
  display: block;
  padding: 0.5em 2em 0.5em 1em;
  margin: 0 0 1px 0;
  font-family: 'proxima-nova', 'open sans', helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1px;
  background: #fff;
  text-decoration: none; }


.docs-index-menu {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none; }


.docs-index-menu .docs-menu-item {
  color: #042452;
  text-decoration: underline; }


.docs-footer {
  font-family: 'proxima-nova', 'open sans', helvetica, arial, sans-serif;
  color: #262829;
  background-color: #f5f5f5;
  padding: 10px; }


.docs-log {
  padding: 10px;
  font-size: 11px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }


code {
  display: block;
  margin: 10px 0;
  padding: 5px;
  overflow: hidden; }

